// Body
$body-bg: #f1f1f1;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$primary:       #3490dc !default;
$secondary:     #6c757d !default;
$success:       #38c172 !default;
$info:          #6cb2eb !default;
$warning:       #ffed4a !default;
$danger:        #e3342f !default;
$light:         #f8f9fa !default;
$dark:          #343a40 !default;
